a {
    color: black;
  }

  u {
    color: blue;
  }

  #backGroud {
    background-color: rgb(62, 62, 62);
    color: white;
    padding: 30px 30px;
  }

  #block {
    margin: 30px 0;
  }

  #blockThumbnall {
    background-color: rgb(100, 100, 100);
  }

  #thumbnall {
    padding: 80px 55px;

  }

  #end {
    width: 100%;
    text-align: center;
    background-color: rgb(124, 124, 102);
  }

  #about {
    background-color: rgb(252, 237, 210);
    padding: 30px;
  }

  .list {
    list-style: none;
  }


